<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" >
    <link rel="stylesheet" href="css/animate.css" type="text/css" >
    <link href="/css/appstyle.css" rel="stylesheet">
  
    <link rel="icon" href="/background.png" type="image/x-icon" /> 
    <title>Flydealz scavanger</title>
</head>
<body class="app">

    <header>
        <img src="background.png" style="width:50px; height:50px; position: absolute; margin-top:35px;margin-left:100px;"><span class="scavenger">Scavenger</span>
       <div>
            <form action="/search" method="POST">
                <input class="search" type="text" name="product">
                <button type="submit" id="btn">Get Product Data</button>
            </form>
        </div>
    </header>
    <div class="frame animated fadeIn">
        <table>
            <tr>
                <th width="300px">Product name</th>
                <th width="250px">Category</th>
                <th width="100px">Price</th>
                <th>Rating</th>
                <th>Seller</th>
                <th width="200px">Est. Sales</th>
            </tr>
            <div>
               <% for(var i = 0; i < num ; i++){ %>
                <tr>
                    <td><%= data[0][i].name %></td>
                    <td><%= data[0][i].category %></td>
                    <td><%= data[0][i].price %></td>
                    <td><%= data[0][i].rating %></td>
                    <td><%= data[0][i].seller %></td>
                    <td><%= data[0][i].estSales %></td>
                </tr>
               <% } %>
            </div>
        </table>
    </div>
    <footer></footer>
</body>
</html>